name: derper build

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * Mon"
  pull_request:
    branches: [ main ]
  pull_request_target:
    types: [assigned, opened, synchronize, reopened]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get formatted datetime
        id: datetime
        run: |
          formatted_datetime=$(date -d "${{ github.event.head_commit.timestamp }}" +'%Y-%m-%d')
          echo "::set-output name=formatted_datetime::$formatted_datetime"

      # Runs a single command using the runners shell
      # - name: Build and push ip_derper Docker images to docker.io and ghcr.io
      #  uses: docker/build-push-action@v5
      #  with:
      #    platforms: linux/amd64,linux/arm64
      #    context: ./derper/ip
      #    push: true
      #    tags: |
      #      ghcr.io/shadowofgost/derp:ip
      #      ghcr.io/shadowofgost/derp:ip-${{steps.datetime.outputs.formatted_datetime}}
      #      shadowofgost/derper:ip
      #     shadowofgost/derper:ip-${{steps.datetime.outputs.formatted_datetime}}

      - name: Build and push Docker derper images to docker.io and ghcr.io
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64,linux/arm64
          context: ./derper/main
          push: true
          tags: |
            ghcr.io/shadowofgost/derp:main
            ghcr.io/shadowofgost/derp:main-${{steps.datetime.outputs.formatted_datetime}}
            shadowofgost/derper:main
            shadowofgost/derper:main-${{steps.datetime.outputs.formatted_datetime}}
