name: warp build

on:
  schedule:
  - cron: "0 0 15 * *"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # Runs a single command using the runners shell

      - name: Get formatted datetime
        id: datetime
        run: |
          formatted_datetime=$(date -d "${{ github.event.head_commit.timestamp }}" +'%Y-%m-%d')
          echo "::set-output name=formatted_datetime::$formatted_datetime"

      - name: Build and push warp Docker images to docker.io and ghcr.io
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64
          context: ./warp
          push: true
          tags: |
            ghcr.io/shadowofgost/warp:latest
            ghcr.io/shadowofgost/warp:${{steps.datetime.outputs.formatted_datetime}}
            shadowofgost/warp:latest
            shadowofgost/warp:${{steps.datetime.outputs.formatted_datetime}}
